/*Selector {
    Property: value;
}*/

* {
    text-align: right;
}

body {
    background-image: url(slika.jpg);
    background-size: cover;
}

h2 {
    color: red;
}

p {
    color: rgb(117, 24, 24);
    text-align: center;
    border: 5px solid purple;
    cursor: pointer;
}


p {
    line-height: 5px;
    font-style: italic;
    font-weight: bold;
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext {
    border: 5px dashed green;
}

.active {
    color: red;
}

#div1 {
    background: rgb(14, 167, 228);
}

#div2 {
    background: rgb(226, 0, 68);
}

img {
    float: right;
}

footer {
    clear: both;
    text-align: center;
}